@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #25272e;
}

header {
    background-color: white;
    color: #25272e;
    text-align: center;
    font-family: 'Asap', sans-serif;
    padding: 20px;
}

.score-board {
    border: 3px solid white;
    width: 2.5em;
    margin: 1em auto;
    height: 1em;
    color: white;
    font-size: 40px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Asap', sans-serif;
    position: relative;
}

.badge {
    background-color: #e25840;
    font-size: 14px;
    padding: 2px;
    font-family: 'Asap', sans-serif;
    /* width: 3em; */
}

#user-label {
    position: absolute;
    top: 1.8em;
    left: -1em;
}

#comp-label {
    position: absolute;
    top: 1.8em;
    left: 8.8em;
}

.result {
    color: white;
    font-size: 45px;
    font-family: 'Asap', sans-serif;
    text-align: center;
}

.choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 2em 2em;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: #1d1d1f;
}

#action-msg {
    color: white;
    font-size: 35px;
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin: 1em;
}

footer {
    background-color: white;
    font-family: 'Asap', sans-serif;
    color: #25272e;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 563px) {
    footer {
        position: static;
    }
}