* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(236, 245, 206); */
    background-image: linear-gradient(to right, rgb(139, 210, 25), green);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: animate-bg 10s infinite ease-in-out;
    height: 100vh;
}

@keyframes animate-bg {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid {
    background: white;
    margin-top: 20px;
    border: 2px solid black;
    height: 404px;
    width: 204px;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: rgb(151, 20, 227);
    border: 1px outset aliceblue;
    /* outline: 2px solid white; */
}

#start-btn {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    outline: 2px outset black;
    border-radius: 10px;
}

#start-btn:hover {
    box-shadow: 2px 2px 20px black;
}

h3 {
    text-shadow: 1px 1px 30px black;
    margin: 20px auto;
}