* {
    font-family: 'Press Start 2P', cursive;
}

body {
    /* background-color: rgb(236, 245, 206); */
    background-image: linear-gradient(to bottom right, rgb(184, 255, 71), green);
    background-repeat: no-repeat;
    height: 100vh;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid {
    background: white;
    margin-top: 20px;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
    /* outline: 2px solid white; */
}

#start-btn {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    outline: 2px outset black;
}

h3 {
    text-shadow: 0 0 30px black;
}